label{
    padding-right: 1rem;
    line-height: 3rem;
}

select{
    height: 3em;
    width: 30em;
    border: none;
    background: rgb(233, 230, 230);
}

select[name="currencies"]{
    height: 2.4em;
    width: 6.3em;
    border-radius: 6px;
    padding: 0 .5em;
    color: white;
    margin-left: .5rem;
}

.btn-container{
    margin:3rem 0;
}

.dropdown-menu{
    z-index: 1;
}

.card{
    width: 40em;
    margin: 0 auto;
}

.animate{
    margin-top: -1.5em;
}


.animate{
    display: none;
}

.animation{
    display: block;
    /* animation: slide 1s forwards; */
}

.table-container, .btn-container{
    display: none;
}

@keyframes slide {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

